{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'projects/css/about/about.css' %}">

<div class="about_main">
    <div class="about_title">
        <img src="{% static 'projects/css/img/hacker.png' %}" style="width:100px;">
        <h1>Привіт, я Вадим</h1>
    </div>
    <div class="about_text">
        <span>Я — Junior Django Developer, який активно розвивається у веброзробці. Працюю з Python та Django, створюю вебзастосунки з використанням HTML, CSS і JavaScript для реалізації клієнтської частини. Мені подобається бачити повний шлях проєкту — від ідеї та структури бекенду до взаємодії з інтерфейсом у браузері.

Я постійно навчаюся, експериментую з новими технологіями, працюю над власними проєктами та прагну створювати зручні, зрозумілі й практичні рішення. Попереду багато викликів, але я мотивований рости як розробник і вдосконалювати свої навички з кожним новим проєктом.</span>
    </div>

</div>

{% endblock %}